<!-- content | top meals -->
<div id="top-meals" class="row center">
    <h2>- Top Meals -</h2>

    {{#each meal}}
        {{#if top}}                      
        <div class="top-meal">
            <span class="price">${{price}}</span>
            <img src="../images/meals/{{image}}" alt="{{title}} meal">
            <span>{{title}}</span>
            <p>{{included}}</p>
        </div>
        {{/if}}
    {{/each}}
</div>