<a href="../meal/{{_id}}">
<div class="card">
    <div class="meal">
        <img src="../images/meals/{{image}}" alt="{{title}} meal">
        <span class="title"><img src="../images/icons/card/{{type}}.png">{{title}}</span>

        <ul class="tags">
            <li>Receipe List:</li>
        {{#each included}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    </div>

    <div class="stats center">
        <div class="first">
            <img src="../images/icons/card/time.png">
            <span class="num">{{cookingTime}}</span>
            <span class="text">minutes</span>
        </div>
        <div class="mid">
            <img src="../images/icons/card/servings.png">
            <span class="num">{{servings}}</span>
            <span class="text">servings</span>
        </div>
        <div class="last">
            <img src="../images/icons/card/label.png">
            <span class="num">{{price}}</span>
            <span class="text">$/meal</span>
        </div>
        <div class="big">
            <img src="../images/icons/card/calories.png">
            <span class="num">{{calories}}</span>
            <span class="text">calories</span>
        </div>
    </div>
</div>
</a>