<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
</head>

{{#if errors.login}}
<body onload="showLoginModal();">
{{else if errors.register}}
<body onload="showRegisterModal();">
{{else}}
<body>
{{/if}}

<!-- start container -->
<div class="container">

{{> header }}
 
{{{ body }}}

{{> footer }}

 
</div>
<!-- end container -->        

<!-- modal login/register -->
<div id="login" class="modal" style="display:none">
    <div class="modal-content">
    <span class="close">×</span>
    <h1>- Login -</h1>
        <form action="/login" method="POST">
            <input {{#if errors.login}}{{#if errors.email}}class="input_error" {{/if}}{{/if}}type="text" name="email" value="{{#if errors.login}}{{errors.data.email}}{{/if}}" placeholder="Email Address">
            {{#if errors.login}}
                {{#if errors.email }}
                <span class="form_error">Please enter a valid email address.</span>
                {{/if}}
            {{/if}}
            <input {{#if errors.login}}{{#if errors.password}}class="input_error" {{/if}}{{/if}}type="password" name="password" value="{{#if errors.login}}{{errors.data.password}}{{/if}}" placeholder="Password">
            {{#if errors.login}}
                {{#if errors.password }}
                <span class="form_error">Please enter a password.</span>
                {{/if}}
            {{/if}}
            <input class="submit-button" type="submit" name="submit" value="LOGIN">
            <p>Don't have an account? <a class="register" href="#sign-up">Sign up here.</a></p>

            <input type="hidden" name="on_page" value="{{onPage}}">
        </form>
    </div>
</div>

<div id="register" class="modal" style="display:none">
    <div class="modal-content">
    <span class="close">×</span>
    <h1>- Register -</h1>
        <form action="/register" method="POST">
            <input {{#if errors.register}}{{#if errors.firstName}}class="input_error" {{/if}}{{/if}}type="text" name="firstName" value="{{#if errors.register}}{{errors.data.firstName}}{{/if}}" placeholder="First Name">
            {{#if errors.register}}
                {{#if errors.firstName }}
                <span class="form_error">Please enter a complete First Name.</span>
                {{/if}}
            {{/if}}    

            <input {{#if errors.register}}{{#if errors.lastName}}class="input_error" {{/if}}{{/if}}type="text" name="lastName" value="{{#if errors.register}}{{errors.data.lastName}}{{/if}}" placeholder="Last Name">
            {{#if errors.register}}
                {{#if errors.lastName }}
                <span class="form_error">Please enter a complete Last Name.</span>
                {{/if}}
            {{/if}}    

            <input {{#if errors.register}}{{#if errors.email}}class="input_error" {{/if}}{{/if}}type="text" name="email" value="{{#if errors.register}}{{errors.data.email}}{{/if}}" placeholder="Email Address">
            {{#if errors.register}}
                {{#if errors.email }}
                <span class="form_error">Please enter a valid email address.</span>
                {{/if}}
                {{#if errors.email_length }}
                <span class="form_error">Email must be at least 6 characters long.</span>
                {{/if}}   
                {{#if errors.email_invalid }}
                <span class="form_error">Email entered is Invalid.</span>
                {{/if}}                                
            {{/if}}

            <input {{#if errors.register}}{{#if errors.password}}class="input_error" {{/if}}{{/if}}type="password" name="password" value="{{#if errors.register}}{{errors.data.password}}{{/if}}" placeholder="Password">
            {{#if errors.register}}
                {{#if errors.password }}
                <span class="form_error">Please enter a valid password.</span>
                {{/if}}
                {{#if errors.password_length }}
                <span class="form_error">Password must be between 6 &amp; 12 characters long.</span>
                {{/if}}   
                {{#if errors.password_contains }}
                <span class="form_error">Password must be contain only letters and numbers.</span>
                {{/if}}                                
            {{/if}}      

            <input class="submit-button" type="submit" name="submit" value="REGISTER">
            <p>Already have an account? <a class="login" href="#sign-up">Login here.</a></p>

            <input type="hidden" name="on_page" value="{{onPage}}">
        </form>
    </div>
</div>        

<script src="../js/script.js"></script>
</body>
</html>        