<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
</head>

{{#if errors.login}}
<body onload="loadLoginModal();" error="{{errors.email}}">
{{else if errors.register}}
<body onload="loadRegisterModal();">
{{else}}
<body>
{{/if}}

<!-- start container -->
<div class="container">

{{> header }}
 
{{{ body }}}

{{> footer }}

 
</div>
<!-- end container -->        

<!-- modal login/register -->
<div id="login" class="modal" style="display:none">
    <div class="modal-content">
    <span class="close">×</span>
    <h1>- Login -</h1>
        <form action="/login" method="POST">
            <input type="text" name="email" placeholder="Email Address">
            {{#if errors.email }}
            <span class="form_error">Please enter a valid email address.</span>
            {{/if}}
            <input type="text" name="password" placeholder="Password">
            {{#if errors.password }}
            <span class="form_error">Please enter a password.</span>
            {{/if}}
            <input class="submit-button" type="submit" name="submit" value="LOGIN">
            <p>Don't have an account? <a class="register" href="#sign-up">Sign up here.</a></p>

            <input type="hidden" name="on_page" value="{{onPage}}">
        </form>
    </div>
</div>

<div id="register" class="modal" style="display:none">
    <div class="modal-content">
    <span class="close">×</span>
    <h1>- Register -</h1>
        <form action="/register-user" method="POST">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="email" placeholder="Email Address">
            <input type="text" name="password" placeholder="Password">
            <input class="submit-button" type="submit" name="submit" value="REGISTER">
            <p>Already have an account? <a class="login" href="#sign-up">Login here.</a></p>
        </form>
    </div>
</div>        

<script src="../js/script.js"></script>
</body>
</html>        