<!-- hero section -->
<div class="row">
    <div id="hero-small" style="background-image:url('../images/meals/{{meal.image}}');">
        <div class="overlay"></div>
        <div class="content">
            <h1>For {{meal.category}}</h1>
        </div>
    </div>
</div>

{{!-- content section --}}

<!-- content | meal page -->
<div id="meal" class="row">

    <div class="meal-page">
        <div class="image">
            <img class="img-responsive" src="../images/meals/{{meal.image}}">
        </div>

        <div class="info">
            <h2 class="title">{{meal.title}}</h2>
            <div class="stats center">
                <div class="first">
                    <img src="../images/icons/card/time.png">
                    <span class="num">{{meal.cookingTime}}</span>
                    <span class="text">minutes</span>
                </div>
                <div class="mid">
                    <img src="../images/icons/card/servings.png">
                    <span class="num">{{meal.servings}}</span>
                    <span class="text">servings</span>
                </div>
                <div class="last">
                    <img src="../images/icons/card/label.png">
                    <span class="num">{{meal.price}}</span>
                    <span class="text">$/meal</span>
                </div>
                <div class="big">
                    <img src="../images/icons/card/calories.png">
                    <span class="num">{{meal.calories}}</span>
                    <span class="text">calories</span>
                </div>
            </div>

            <p>{{meal.description}}</p>

            <ul class="tags">
                <li>Receipe List:</li>
            {{#each meal.included}}
                <li>{{this}}</li>
            {{/each}}
            </ul>

            {{#if user.loggedIn}}
            <a id="add-to-cart" onclick="addToCart('{{meal._id}}');"><button>Add To Cart</button></a>
            {{/if}}
        </div>   
    </div>

    <!-- content | related meals -->
    <div id="top-meals" class="row center">
        <h2>- Meals You'd Like -</h2>

        {{#each extraMeals}}                   
            {{>top-meal}}
        {{/each}}
    </div>

</div>