<!-- hero section -->
<div class="row">
    <div id="hero-small" style="background-image:url('../images/bgs/pexels-lisa-fotios-1992913-min.jpg');">
        <div class="overlay"></div>
        <div class="content">
            <h1>YOUR CART</h1>
        </div>
    </div>
</div>

<div id="ez-content" class="row">

    {{#if user.loggedIn}}
    <div class="cart">
        <table class="cart-container">
            <tr class="header">
                <th class="meal">Meal</th>
                <th class="quantity">#</th>
                <th class="total">Cost</th>
            </tr>

            {{!-- display each meal in cart --}}
            {{#each cartMeals}}
            <tr id="meal-cart-{{_id}}" class="in-cart">
                <td class="title">
                    <a href="../meal/{{_id}}"><img class="meal-pic" src="../images/meals/{{image}}"></a> <a href="../meal/{{_id}}">{{title}}</a>
                    <span class="remove-from-cart"><a id="{{_id}}" class="remove-meal" href="#" onclick="">(Remove)</a></span>
                </td>
                <td class="qty center">{{cart_qty}}</td>
                <td class="cost center">${{cart_sub_total}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="empty-cart center" colspan="3">Your Cart is empty, see our menu to add meals.</td>
            </tr>
            {{/each}}
        </table>

        {{#if cartMeals.length}}
        <div class="summary">
            <div>
                <span class="title">Total: </span>
                <span id="cart-total" class="amount">${{cartMeals.total}}</span>
            </div>

            <a href="/checkout-cart"><button class="checkout-btn"><img class="cta-icon img-responsive" src="../images/icons/shopping-bag.png"> Place Your Order</button></a>
        </div>
        {{/if}}
    </div>
    {{else}}
        <div class="cart">
        <table class="cart-container">
            <tr class="header">
                <th class="meal">Meal</th>
                <th class="quantity">Quantity</th>
                <th class="total">Cost</th>
            </tr>
            <tr>
                <td class="empty-cart center" colspan="3">You must <a class="login" href="#">login</a> to add meals to your cart.</td>
            </tr>
        </table>
        </div>
    {{/if}}

</div>

{{>top-meals}}