<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>UPDATE MEALS</h2>

        {{#each meals}}
        <div class="col-12 meal-list edit_meal_link" onclick="openMealInfo('{{_id}}')">
            <div class="col-1"><img class="img-responsive" src="../images/meals/{{image}}"></div>
            <div class="col-11 ml_title">
                <a href="#">{{title}}</a> 
                <a class="delete_meal_link" href="#" onclick="deleteMeal('{{_id}}')"><img class="ml-icon" src="../images/icons/delete.png"></a>
                <a href="#"><img class="ml-icon" src="../images/icons/edit.png"></a>
            </div>
        </div>

        <div id="{{_id}}" class="col-12" style="display:none;">
            <form class="meal-info" method="post" action="/dashboard/editMeal" enctype="multipart/form-data">
                <div class="col-8 data left">
                    <input type="hidden" name="meal_id" value="{{_id}}">
                    <label for="title">Title:</label>
                    <input type="text" name="title" value="{{title}}">

                    <label for="description">Description:</label>
                    <textarea name="description">{{description}}</textarea>
    
                    <label for="included">Includes:</label>
                    <input type="text" name="included" value="{{included}}" placeholder="comma,seperated,values">
                    
                    <div class="col-12 data-stats center">
                        <div class="col-3"><label for="time"><img class="mi-icon" src="../images/icons/card/time.png">Time:</label><input type="text" name="cookingTime" value="{{cookingTime}}"></div>
                        <div class="col-3"><label for="servings"><img class="mi-icon" src="../images/icons/card/servings.png">Servings:</label><input type="text" name="servings" value="{{servings}}"></div>
                        <div class="col-3"><label for="price"><img class="mi-icon" src="../images/icons/card/label.png">Price:</label><input type="text" name="price" value="{{price}}"></div>
                        <div class="col-3"><label for="calories"><img class="mi-icon" src="../images/icons/card/calories.png">Calories:</label><input type="text" name="calories" value="{{calories}}"></div>
                    </div>

                    <div class="col-12 data-stats center">
                        <div class="col-4">
                            <label for="category">Cateogry:</label>
                            <select name="category">
                                <option value="{{category}}" selected>{{category}}</option>
                                <option value="breakfast">Breakfast</option>
                                <option value="lunch">Lunch</option>
                                <option value="dinner">Dinner</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="type">Type:</label>
                            <select name="type">
                                <option value="{{type}}" selected>{{type}}</option>
                                <option value="vegan">Vegan</option>
                                <option value="meat">Meat</option>
                                <option value="fish">Fish</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="top">Top Meal:</label>
                            <select name="top">
                                <option value="1" {{#if top}}selected{{/if}}>True</option>
                                <option value="0" {{#unless top}}selected{{/unless}}>False</option>
                            </select>
                        </div>
                    </div>                    
                </div>
                <div class="col-4 data-stats">
                    <img class="img-responsive" src="../images/meals/{{image}}">
                    <input type="file" name="image" value="">

                    <input type="submit" value="UPDATE MEAL KIT">
                </div>
            </form>
        </div>
        {{/each}}
    </div>
</div>

{{!-- 

Title: 

Description: 

Included (comma delimited): 

Image: 

Price   Time    Servings    Calories    Type    Category    Top

 --}}